<div class="row">
	<div id="twitter" class="col-md-4">
	<h1>FRIKKIN TWITTER!</h1>
		<ul class='tweets'>
 			<% @tweets.each do |tweet| %>
    			<li><%= tweet.text %></li>
    			<a href="<%= tweet.url %>"><%= tweet.url %></a>
  			<% end %>
		</ul>
	</div>
	<div id="linkedin" class="col-md-4">coppppyyyy</div>
	<div class="col-md-4">missssyyy eliott</div>
</div>