<div class="about-grid container">
	<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-5 four-grid">Who Are We?</div>
		<div class="col-xs-12 col-sm-6 col-md-5 four-grid">What We do?</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-5 four-grid">Overheard in...</div>
		<div class="col-xs-12 col-sm-6 col-md-5 four-grid">See Yourself</div>
	</div>
	</div>
</div>
