<div class="container">
<header>
	<h1>GENERAL<br/>ASSEMBLR</h1>
	<p>All GA news that's fit to print.<br/><button type="button" class="btn btn-danger">View Facts about GA</button>
	</p>
</header>

<!-- add content containers -->
<%= render 'static_pages/content' %>
</div>