
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Spacegallery</title>
    <link rel="stylesheet" media="screen" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="css/spacegallery.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="css/custom.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/eye.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/spacegallery.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
</head>
<body>
    <div class="wrapper">
        <h1>Spacegallery</h1>
        <ul class="navigationTabs">
            <li><a href="" rel="about">Go To Profile</a></li>
        </ul>
        <div class="tabsContent">
            <div class="tab">
                <h2>About</h2>
        <p>Again another image gallery. Click on the images bellow to see it in action.</p>
        <div id="myGallery" class="spacegallery">
          <!-- do .each loop inside of div for each user.....output attributes that we want -->
                    <% @users.each do |user|%>
                        <%= link_to user do %>
                            <%= image_tag user.image %>
                        <% end %>    

                    <% end %>
        </div>


<div class="ia-container">
                 
    <figure>
        <img src="../images/ga_logo.jpg" alt="../images/ga_logo.jpg" />
        <input type="radio" name="radio-set" checked="checked" />
        <figcaption><span>GA</span></figcaption>
         
        <figure>
            <img src="images/2.jpg" alt="image02" />
            <input type="radio" name="radio-set" />
            <figcaption><span>General Assemblrs</span></figcaption>
             
            <figure>
                <!-- ... -->
                 
                <figure>
                    <!-- ... -->
                     
                    <figure>
                        <!-- ... -->
                         
                        <figure>
                            <!-- ... -->
                 
                            <figure>
                                <!-- ... -->                                     
 
                                <figure>
                                    <!-- ... -->
                                </figure>
                                 
                            </figure>
                 
                        </figure> 
                             
                    </figure> 
                         
                </figure>
                     
            </figure>
             
        </figure>
         
    </figure>
     
</div>
