<h1>Users</h1>

<div class="ia-container">
                 
    <figure>
        <img src="../images/ga_logo.jpg" alt="../images/ga_logo.jpg" />
        <input type="radio" name="radio-set" checked="checked" />
        <figcaption><span>GA</span></figcaption>
         
        <figure>
            <img src="images/2.jpg" alt="image02" />
            <input type="radio" name="radio-set" />
            <figcaption><span>General Assemblrs</span></figcaption>
             
            <figure>
                <!-- ... -->
                 
                <figure>
                    <!-- ... -->
                     
                    <figure>
                        <!-- ... -->
                         
                        <figure>
                            <!-- ... -->
                 
                            <figure>
                                <!-- ... -->                                     
 
                                <figure>
                                    <!-- ... -->
                                </figure>
                                 
                            </figure>
                 
                        </figure> 
                             
                    </figure> 
                         
                </figure>
                     
            </figure>
             
        </figure>
         
    </figure>
     
</div>